html,
body {
  height: 100%;
  width: 100%;
  background-image: url(./assets/football-fans-stadium-from.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  font-family: "Anton", sans-serif;
}
